.Appcontainer{
  display: flex;
    justify-content: center;
    background-color: #ebebed;
}

.App{
  background-color: #ebebed;
}


@media screen and (max-width: 860px){
  .Appcontainer{
    flex-direction: column-reverse;        
}
}